{% extends 'meu/base.html' %}
{% block title %} Form {% endblock%}
{% load bootstrap %}
{% block main  %}


{% if user.is_authenticated %}
{% if messages %}
<div class="alert alert-primary" role="alert">
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %}
		class="{{ message.tags }}"
		{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</div>
{% endif %}
<h1>Página de contato:</h1><hr>
<h1>Em desenvolvimento</h1>
<h4>Email: jorgescorpionsound@hotmail.com</h4>
<h4>Autor: Jorge Luiz Angioleti<i class="fa fa-user"></i></h4>
<h4>Desenvolvedor web/desktop/mobile python<i class="fa fa-desktop"></i></h4>
<form action="" method="POST" enctype="multipart/form-data">
	{%csrf_token%}
	{{form|bootstrap}}
	<button type="submit" class="btn btn-success">Enviar</button>
</form>
<a  class="btn btn-primary"href="{%url 'home' %}">Voltar a pesquisa</a>
Contato facebook: <a href="https://www.facebook.com/Scorpionsound/"><i class="fa fa-facebook-square fa-2x"></i></a>
{%else%}
<h1>Você não está logado!</h1>
{% endif %}
{% endblock %}